    <%- include('partials/header'); -%>
        <div class="content section">
            <h1>Home</h1>
            <p><%= startingContent %></p>
            <% postsEJS.forEach(function(param){ %>
           <h1><%= param.title %></h1> 
           <p><%= param.posted.substring(0, 100)%>
            <a href="/posts/<%= param.title%>">Read More</a>...
        </p>
           <% }) %>
        </div>
    <%- include('partials/footer'); -%> 
        